.eachTodoBox {
  padding: 5px 4%;
  display: flex;
  width: 300px;
  margin: 0px auto;
  justify-content: center;
  /* background-color: blue; */
}
.eachTodos {
  width: 70%;
  padding: 5%;
  margin: 0% 2%;
  text-decoration: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  border-radius: 10px;
}
.eachTodoManageButton {
  padding: 4% 6%;
  border: none;
  margin: 0% 2%;
  font-size: 25px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
}
